// project less root
@import "./normalize.less";

#app {
    height: 100%;
}

.c-main {
    margin: 0 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 6px;
}
